@forward "./main";
@forward "./mod";
@forward "./part";
@forward "./plugin";

:root {
    --background-primary: none;
    --background-secondary: none;
    --background-secondary-alt: none;
    --background-tertiary: none;
    --channeltextarea-background: none;
    --custom-message-margin-left-content-cozy: 40px;
}

//?
.content__76dcf {
    justify-content: space-between;
}

// Remove from flex
.erd_scroll_detection_container {
    position: absolute;
}
