@use "../../vars" as *;

// Take avatar of last msg and use as speaker portrait
.scrollerInner__37fee > :is(li, .quotedChatMessage_d0497b):last-of-type .avatar__08316 {
    border-radius: 0;
    position: fixed;
    left: unset;
    right: calc($chatRightOffset + $chatWidth - 40px);
    top: 20vh;
    width: 180px;
    height: 180px;
    z-index: 1;
    background: $portraitBg;
    padding: 60px $distance;
}

// Hide other avatars
.scrollerInner__37fee > :is(li, .quotedChatMessage_d0497b):not(:last-of-type) .avatar__08316 {
    display: none;
}

// Hide reply and thread spines
.repliedMessage__636d2::before,
.hasThread__44ae4.hasThread__44ae4::after {
    display: none;
}

// Hoists chat above memberlist so avatar appears above memberlist
.chatContent_f087cb {
    z-index: 1;
}
