@use "../../vars" as *;

// Message box
.form_a7d72e:has(.buttons_d0696b) {
    margin-bottom: 80px;
}

// Move message box buttons to mimic inventory tabs at bottom
.buttons_d0696b {
    background: $bgTint;
    position: fixed;
    top: unset;
    bottom: 0;
    right: 0;
    width: calc($chatWidth + $chatRightOffset);
    padding-left: 60px;
    height: $chatButtonsHeight;
    gap: 60px;

    $iconSize: 40px !important;

    // GIft, gif, sticker
    .lottieIcon_f73ef7,
        // Send message
        .sendIcon_a06035 {
        width: $iconSize;
        height: $iconSize;
    }

    // Emoji picker
    .spriteContainer_af14ca {
        --custom-emoji-sprite-size: #{$iconSize};
    }

    // Line before send message button
    .separator_a06035::before {
        display: none;
    }
}
