@use "../../vars" as *;

.sidebar_e031be {
    background: $bgTintLight;
    position: relative;
    left: $userpanelWidth + $distance;
    width: $channellistWidth;
}

// Server channels list
.container__7e23c {
    $banner-height: calc(($channellistWidth - (2 * 10px) - (2 * 0.5vh)) / 240 * 135);

    // Banner
    .animatedContainer__0e828 {
        height: $banner-height;
    }
    // Prevent banner overlapping outer
    .animatedContainer__0e828,
    .bannerImage_c73a57 {
        transform: none !important;
    }
    .bannerImage_c73a57,
    .bannerImg_fe5c1b {
        width: inherit;
    }
    .bannerImg_fe5c1b {
        height: unset;
    }
    div[style="height: 12px;"] {
        height: calc($banner-height - 48px - 84px) !important;
    }
}
