@use "../../vars" as *;

.container_cbd271 {
    position: fixed;
    left: calc($userpanelWidth + $channellistWidth + $distance * 2);
    top: $hslHeight;
    bottom: 0;
    background: $bgTintLight;
    min-width: $memberlistWidth;
}

.members_cbd271 {
    width: $memberlistWidth;
}

.member_a31c43 {
    max-width: calc($memberlistWidth - 16px);
}
