@use "../../vars" as *;

.membersWrap__5ca6b {
    position: fixed;
    left: calc($userpanelWidth + $channellistWidth + $distance * 2);
    top: $hslHeight;
    bottom: 0;
    background: $bgTintLight;
    min-width: $memberlistWidth;
}

.members__573eb {
    width: $memberlistWidth;
}

.member_aa4760 {
    max-width: calc($memberlistWidth - 16px);
}
