@use "../vars" as *;

.panels_a4d4d9 {
    position: fixed;
    bottom: 0;
    left: 0;
    width: $userpanelWidth;
    // background: $bgTint;
}

.container_b2ca13 {
    flex-direction: column-reverse;
    height: auto;
    padding: 0;
}

// User info
.avatarWrapper_b2ca13 {
    margin-right: 0;
    margin-left: 0;
    padding-left: 0;
    padding: 5px;
    margin: 5px;
    position: relative;

    &,
    &:hover {
        background-color: $bgTint;
        border-radius: 0;
    }

    // Username and nickname section
    .nameTag_b2ca13 {
        position: absolute;
        bottom: 10px;
        right: 10px;
        max-width: 90px;
        opacity: 0;
        transition: opacity 0.3s;
    }
    &:hover .nameTag_b2ca13 {
        opacity: 1;
    }

    // Avatar container
    .avatar_b2ca13 {
        width: 130px !important;
        height: 185px !important;
        // It's harry!
        background: $userPortrait, $portraitBg;
        padding: 5px;
        border-radius: 0;

        // Outermost svg
        .svg_c51b4e {
            width: inherit !important;
            height: inherit !important;

            // Unround avatar
            foreignObject[mask*="url(#"] {
                mask: none;
                -webkit-mask: none;
                width: 40px;
                height: 40px;
            }

            .avatarStack_c51b4e {
                display: none;
            }

            // Status indicator
            svg {
                overflow: visible;
                opacity: 0.8;
                rect:first-of-type {
                    x: -14;
                    y: 20;
                }
            }
        }
    }
}

// Controls
.avatarWrapper_b2ca13 + .horizontal_bba380 {
    background: $bgTint;
    width: 100%;
    height: 40px;
    justify-content: space-around;
    align-items: center;

    --status-danger: rgb(239, 100, 0);
}
